*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Tahoma, Arial, sans-serif;
	line-height: 155%;
	font-size: medium;
	text-align: center;
	}

h3{
	font-size: 28px;
	padding-top: 10px;
	margin-bottom: 15px;
	}

h1{
	font-size: 38px;
	padding-top: 12px;
	}

header{
	height: 100px;
	width: 98%;
	background-color: #FF9800;
	padding: 1%;
	text-align: left;
	}

.wrapp{
	width: 970px;
	margin: 0 auto;
	text-align: left;
}

div.content{
	float: left;
	padding: 5px;
	width: 30%;
	}

img{
	width: 48%;
	height: 110px;
	padding-top: 30px;
	padding-bottom: 20px;
	}

@media screen and (max-width: 960px) {
 
img {
   display: block;
   width: 100%;
   height: auto;
   margin: auto;
 }

h1{
	font-size: 30px;
	padding-top: 10px;
	} 

div.content{
	float: left;
	margin: auto;
	text-align: left;
	width: 99%;
	} 

div.wrapp{
	width: 99%;
	margin: 0 auto;
	text-align: left;
	} 

}
 @media screen and (max-width: 860px) {
div.wrapp{
	width: 95%;
	margin: 0 auto;
	text-align: left;
	} }