*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Tahoma, Arial, sans-serif;
	line-height: 155%;
	font-size: medium;
	}

h3{
	font-size: 28px;
	padding-top: 10px;
	}

h1{
	font-size: 38px;
	padding-top: 12px;
	}

header{
	height: 100px;
	background-color: #FF9800;
	padding: 10px;
	}

div{
	float: left;
	padding: 5px;
	width: 360px;
	}

img{
	width: 170px;
	height: 120px;
	padding-top: 30px;
	padding-bottom: 30px;
	}

@media screen and (max-width: 960px) {
  img {
   display: block;
   padding: 5px;
  } }

@media screen and (max-width: 960px) {
h1{
	font-size: 30px;
	padding-top: 10px;
	} }
@media screen and (max-width: 960px) {
div{
	float: left;
	padding: 5px;
	width: 450px;
	} }